@font-face {
  font-family: 'Champagne';
  src: url("/fonts/cac_champagne-webfont.eot");
  src: url("/fonts/cac_champagne-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/cac_champagne-webfont.woff") format('woff'), url("/fonts/cac_champagne-webfont.ttf") format('truetype'), url("/fonts/cac_champagne-webfont.svg#CACChampagneRegular") format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3 {
    font-family: Oswald, sans-serif;
    margin-bottom: 10px;
    color: #ddd;
  }
  h1 {
    font-size: 3.2vw;
  }
  h2 {
    font-size: 1.6vw;
  }
  h3 {
    font-size: 1.4vw;
  }
  body {
    background-color: #222;
    color: #fff;
    font-family: Lato, sans-serif;
    overflow: hidden;
  }
  header {
    font-family: Oswald, sans-serif;
    position: fixed;
    left: 20px;
    bottom: 20px;
  }
  header * {
    margin: 0;
    opacity: 0;
    text-shadow: 1px 1px 0 #444;
  }
  header h1 {
    animation: fadein 500ms ease-in 1ms forwards;
    -webkit-animation: fadein 500ms ease-in 1ms forwards;
    -moz-animation: fadein 500ms ease-in 1ms forwards;
  }
  header h1 a {
    opacity: 1;
    color: #ddd;
    text-decoration: none;
    font: 5vw Champagne, serif;
    line-height: 4.5vw;
    letter-spacing: 1px;
  }
  header h2:nth-of-type(1) {
    animation: fadein 500ms ease-in 500ms forwards;
    -webkit-animation: fadein 500ms ease-in 500ms forwards;
    -moz-animation: fadein 500ms ease-in 500ms forwards;
  }
  header h2:nth-of-type(2) {
    animation: fadein 500ms ease-in 1000ms forwards;
    -webkit-animation: fadein 500ms ease-in 1000ms forwards;
    -moz-animation: fadein 500ms ease-in 1000ms forwards;
  }
  section {
    position: absolute;
    left: 40%;
    width: 55%;
    height: 95%;
    padding: 0 20px;
    margin: 20px 0;
    overflow-y: auto;
    opacity: 0;
    animation: fadein 500ms ease-in 1600ms forwards;
    -webkit-animation: fadein 500ms ease-in 1600ms forwards;
    -moz-animation: fadein 500ms ease-in 1600ms forwards;
  }
  nav {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    animation: fadein 500ms ease-in 2400ms forwards;
    -webkit-animation: fadein 500ms ease-in 2400ms forwards;
    -moz-animation: fadein 500ms ease-in 2400ms forwards;
  }
  nav li {
    list-style: none;
  }
  a {
    color: #ddd;
  }
  a:hover {
    color: #fff;
  }
  p {
    margin-bottom: 20px;
  }
  .highlight {
    margin-bottom: 20px;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(100,100,100,0.7);
  }
@-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@-o-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
}
