<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} - {{site.name}}{% else %}{{site.name}} - {{ site.description }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{site.name}} - {{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <!-- FONTS -->
    <link href="//fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	
    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/css/syntax.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl }}">

    <!-- JS -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ '/main.js' | prepend: site.baseurl }}"></script>
</head>
